{% extends 'management/index.html' %}
{% block title %} {{title}} {% endblock %}

{% block content%}
{% for proj in all_proj %}
<div class="panel">
    <div class="panel__title">
        <h2>{{proj.title}}</h2>
    </div>
    <div class="panel__info">
        <div class="panel__statistic"> {{user.get_user_permissions}}
        </div>
        <div class="panel__created_by">
            <h2>Project created by {{proj.user}}</h2>
        </div>
    </div>
    <div class="task__container">
        {% for task in proj.task_set.all %}
        <div class="task__{{task.is_done}}">
            <div class="task__title"><a href="#">{{task.title}}</a></div>
            <div class="task__done">{{task.is_done}}
                <form action="{% url 'task_done' %}"  method="post">
                    {% csrf_token %}
                    <input type="hidden" name="data_task" value="{{task.pk}}">
                    {% if task.is_done == True %}
                    <input type="hidden" name="data" value="False">
                    <button type="submit" class="task__button">False</button>
                    {% else %}
                        <input type="hidden" name="data" value="True">
                        <button type="submit" class="task__button">True!</button>
                    {% endif %}
                </form>
            </div>
            <div class="task__owner">{{task.user}}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}