<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'management/css/style.css' %}">
    {% block stat %}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="header__line">
        <div class="container">
            <div class="header__line-wrapper">
                <div class="header__lng">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__wraper">
            <div class="header__block">
                <nav class="nav">
                    <a class="nav__link active" href="{% url 'control_page' %}">
                        Панель
                    </a>
                </nav>
            </div>

            <div class="header__block right">
                <div class="header__actions">
                    <a class="header__link" href="{% url 'user' %}">
                        <img class="profile__img" src="{% static 'users/img/profile.svg' %}" alt="{{ user }}">
                    </a>
                    <a class="header__link" href="{% url 'logout' %}">
                        <img src="{% static 'users/img/exit.svg' %}" alt="exit" class="exit_img">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% block header %} {% endblock %}
</header>
{% block content %}

{% endblock %}
</body>
</html>