{% for task in proj.task_set.all %}
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    <div class="task">
        <a href="#">{{task.title}}</a>
    </div>
    {% endfor %}