{% extends 'management/index.html' %}
{% block content %}
    <div class="container_reg">
        <div class="registration form">
            <header>Регистрация</header>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <input type="{{ field.field.widget.input_type }}" placeholder="{{ field.field.widget.attrs.placeholder }}" name="{{ field.name }}">
                        {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn button-success" id="reg_button">Зарегистрироваться</button>
            </form>
            <div class="signup">
                <span class="signup">У вас уже есть аккаунт?
                    <a href="{% url 'signin' %}">Войти</a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}